
<div class="row mt-2 mt-md-3">
  <div class="col">
    <div class="resumen">
      <h2>Resumen</h2>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
          <p class="item-resumen">Promedio:&nbsp;<span class="val-item-resumen badge badge-primary">{{ promedioGeneral }}</span></p>
          <p class="item-resumen">Cr&eacute;ditos:&nbsp;<span class="val-item-resumen badge badge-dark">{{ totalCreditos }}</span></p>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 mt-3 mt-sm-0">
          <p class="item-resumen">Cursos:&nbsp;<span class="val-item-resumen badge badge-primary">{{ numCursos }}</span></p>
          <p class="item-resumen"><span class="ml-3 badge badge-success">{{ cursosAprobados }}</span>&nbsp;aprobados</p>
          <p class="item-resumen"><span class="ml-3 badge badge-danger">{{ cursosReprobados }}</span>&nbsp;reprobados</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<h2>Gr&aacute;ficas</h2>

<div class="row">

  <div *ngIf="mostrarChartPromedioAnual" class="chart-wrapper col-12 col-lg-6">
    <canvas baseChart
            [datasets]="promedioAnualChartData"
            [labels]="promedioAnualChartLabels"
            [options]="promedioAnualChartOptions"
            [plugins]="promedioAnualChartPlugins"
            [legend]="promedioAnualChartLegend"
            [chartType]="promedioAnualChartType">
    </canvas>
  </div>

  <div *ngIf="mostrarChartPromedioSemestral" class="chart-wrapper col-12 col-lg-6">
    <canvas baseChart
            [datasets]="promedioSemestralChartData"
            [labels]="promedioSemestralChartLabels"
            [options]="promedioSemestralChartOptions"
            [plugins]="promedioSemestralChartPlugins"
            [legend]="promedioSemestralChartLegend"
            [chartType]="promedioSemestralChartType">
    </canvas>
  </div>

</div>

<hr>

<div class="row">

  <div *ngIf="notasFinales" class="col-12 col-md-6 mb-4">
    <h2>Nota Final</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ notasFinales.max}}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of notasFinales.maxCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="notasFinales.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ notasFinales.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of notasFinales.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="notasFinales.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4" *ngIf="zonas">
    <h2>Zona</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ zonas.max }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of zonas.maxCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="zonas.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ zonas.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of zonas.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="zonas.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 mb-4" *ngIf="primerosParciales">
    <h2>Primer Parcial</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ primerosParciales.max }}</span></p>
        <ul class="list-group">
            <li *ngFor="let c of primerosParciales.maxCursos.slice(0,2)" class="list-group-item">
                {{ c.nombreCurso + ' ' + c.ano}}
            </li>
          <div *ngIf="primerosParciales.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ primerosParciales.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of primerosParciales.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="primerosParciales.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4" *ngIf="segundosParciales">
    <h2>Segundo Parcial</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ segundosParciales.max }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of segundosParciales.maxCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="segundosParciales.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ segundosParciales.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of segundosParciales.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="segundosParciales.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-12 col-md-6 mb-4" *ngIf="actividades">
    <h2>Actividades</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ actividades.max }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of actividades.maxCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="actividades.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ actividades.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of actividades.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="actividades.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4" *ngIf="examenesFinales">
    <h2>Examen Final</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ examenesFinales.max }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of examenesFinales.maxCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="examenesFinales.maxCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ examenesFinales.min }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of examenesFinales.minCursos.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="examenesFinales.minCursos.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
