
<div class="row mt-2 mt-md-3">
  <div class="col">
    <div class="resumen">
      <h2>Resumen</h2>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
          <p class="item-resumen">Promedio:&nbsp;<span class="val-item-resumen badge badge-primary">{{ promedioGeneral }}</span></p>
          <p class="item-resumen">Cr&eacute;ditos:&nbsp;<span class="val-item-resumen badge badge-dark">{{ totalCreditos }}</span></p>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 mt-3 mt-sm-0">
          <p class="item-resumen">Cursos:&nbsp;<span class="val-item-resumen badge badge-primary">{{ numCursos }}</span></p>
          <p class="item-resumen"><span class="ml-3 badge badge-success">{{ cursosAprobados }}</span>&nbsp;aprobados</p>
          <p class="item-resumen"><span class="ml-3 badge badge-danger">{{ cursosReprobados }}</span>&nbsp;reprobados</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<h2>Gr&aacute;ficas</h2>

<div class="row">

  <div *ngIf="mostrarChartPromedioAnual" class="chart-wrapper col-12 col-lg-6">
    <canvas baseChart
            [datasets]="promedioAnualChartData"
            [labels]="promedioAnualChartLabels"
            [options]="promedioAnualChartOptions"
            [plugins]="promedioAnualChartPlugins"
            [legend]="promedioAnualChartLegend"
            [chartType]="promedioAnualChartType">
    </canvas>
  </div>

  <div *ngIf="mostrarChartPromedioSemestral" class="chart-wrapper col-12 col-lg-6">
    <canvas baseChart
            [datasets]="promedioSemestralChartData"
            [labels]="promedioSemestralChartLabels"
            [options]="promedioSemestralChartOptions"
            [plugins]="promedioSemestralChartPlugins"
            [legend]="promedioSemestralChartLegend"
            [chartType]="promedioSemestralChartType">
    </canvas>
  </div>

</div>

<hr>

<div class="row">

  <div class="col-12 col-md-6 mb-4">
    <h2>Nota Final</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxNotaFinal}}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMaxNotaFinal.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMaxNotaFinal.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minNotaFinal }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinNotaFinal.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinNotaFinal.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h2>Zona</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxZona }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMaxZona.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMaxZona.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minZona }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinZona.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinZona.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <h2>Primer Parcial</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxPrimerParcial }}</span></p>
        <ul class="list-group">
            <li *ngFor="let c of cursosMaxPrimerParcial.slice(0,2)" class="list-group-item">
                {{ c.nombreCurso + ' ' + c.ano}}
            </li>
          <div *ngIf="cursosMaxPrimerParcial.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minPrimerParcial }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinPrimerParcial.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinPrimerParcial.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h2>Segundo Parcial</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxSegundoParcial }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMaxSegundoParcial.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMaxSegundoParcial.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minSegundoParcial }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinSegundoParcial.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinSegundoParcial.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-12 col-md-6 mb-4">
    <h2>Actividades</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxActividades }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMaxActividades.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMaxActividades.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minActividades }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinActividades.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinActividades.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h2>Examen Final</h2>

    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s alta&nbsp;<span class="badge badge-success">{{ maxExamenFinal }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMaxExamenFinal.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMaxExamenFinal.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="item-resumen">Nota m&aacute;s baja&nbsp;<span class="badge badge-warning">{{ minExamenFinal }}</span></p>
        <ul class="list-group">
          <li *ngFor="let c of cursosMinExamenFinal.slice(0,2)" class="list-group-item">
            {{ c.nombreCurso + ' ' + c.ano}}
          </li>
          <div *ngIf="cursosMinExamenFinal.length > 2">
            <a href="" class="float-right">Ver m&aacute;s</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
